@model Course

<!-- Code: @Model.CatalogID -->
<!-- id: @Model.CanvasID -->
<!-- homepage -->

<div id="homepage" style="color:">
    <div id="cover-image">
         <p>
             <img style="display: block; margin-left: auto; margin-right: auto;" 
                @*src="https://courses.sfcollege.edu/courses/444382/files/43135888/preview"
                  data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/files/43135888"
                  data-api-returntype="File" *@
                src="~/images/path.jpg" class="border border-primary"
                alt="Path Image" 
                width="65%" 
                /></p>
    </div>
</div> <!-- #homepage -->