@model Course

<div id="Welcome">
<div id="cover-image">
    <p>
        <img 
            style="display: block; margin-left: auto; margin-right: auto; width:65%;" 
            src="https://flic.kr/p/2kZ5hQt/preview"
            alt="path image" />
    </p>
    <h3>&nbsp;</h3>
</div>

<div id="discord" class="alert alert-info">
    <p style="text-align: center;">
        <img src="https://flic.kr/p/2nwwnMS/preview" 
        alt="Discord link" width="250" /> 
        Discord Server Link: 
        <a 
            class="inline_disabled icon-discord btn btn-info" 
            href="https://discord.gg/MpHjV4qgxZ" 
            target="_blank" rel="noopener"> 
                Code Bytes 
        </a>
    </p>
</div>

<div id="course-description">
    <h2>@Model.CatalogID</h2>
    <h3>@Model.Name</h3>

    <p>
        This course is a continuation of structured programming concepts using the C# 
        programming language. This includes techniques for algorithm development, 
        coding and testing. This course will delve into forms, controls, and events using 
        event-driven programming concepts. Students will create GUI-based and event-driven 
        applications to reinforce new concepts and material presented in each chapter.
    </p>
    <p>
        Each chapter will be in a module that will provide you with lecture notes, 
        PowerPoint slides for note taking, videos and code demonstrations that 
        illustrate/apply the chapter concepts. Additionally, you will find links to any 
        quizzes or other assignments for the chapter.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<div id="instructor">
    <h3>About your Instructor</h3>
    <div class="content-box">
        <div class="grid-row">
            <div class="col-xs-12 col-sm-3 col-md-2"><img style="float: left;" src="https://courses.sfcollege.edu/courses/444382/files/43140094/preview" alt="picture of Instructor" width="129" height="129" data-api-returntype="File" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/files/43140094" /></div>
            <div class="col-xs-12 col-md-6">
                <p><strong>&nbsp; &nbsp;Instructor:&nbsp;</strong> Dan Sullivan<br /><a href="mailto:daniel.sullivan@sfcollege.edu">daniel.sullivan@sfcollege.edu</a></p>
                <p>&nbsp; &nbsp; &nbsp; <a class="icon-user btn btn-primary" href="https://courses.sfcollege.edu/courses/444382/pages/instructor" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/pages/instructor" data-api-returntype="Page">about me </a></p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
<div id="engagement">
    <h3>Online Classes</h3>
    <ul>
        <li><em>remote</em>, or <em>distance-learning</em> does not mean independent learning, and</li>
        <li>online does not mean <em>self-paced</em></li>
    </ul>
    <div style="text-align: center;">
        <p><a class="icon-question btn btn-primary" href="https://courses.sfcollege.edu/courses/444382/pages/online-classes" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/pages/online-classes" data-api-returntype="Page"> <em>Tell me more!</em> </a></p>
    </div>
    <p>&nbsp;</p>
</div>
<div id="zoom-links">
    <h3>Office Hours</h3>
    <div style="text-align: center;"><a class="inline_disabled icon-group btn btn-info" href="https://sfcollege.zoom.us/j/96388181209?pwd=QW9vd2VpS2NpRklaSFJIeHh5SlIzdz09" target="_blank" rel="noopener"> Wed 2P EST </a> &nbsp;&nbsp; <a href="#"></a> <a class="inline_disabled icon-group btn btn-info" href="https://sfcollege.zoom.us/j/96388181209?pwd=QW9vd2VpS2NpRklaSFJIeHh5SlIzdz09" target="_blank" rel="noopener"> Thu 5P EST </a> &nbsp;&nbsp;</div>
    <p>&nbsp;</p>
</div>
<div id="learning-objectives">
    <h3>Student Learning Objectives</h3>
    <ul>
        <li>Understand the program development cycle</li>
        <li>Understand data types, variable scope, and file access</li>
        <li>Recognize the properties and behaviors of classes and objects</li>
        <li>Use the various types of selection structures</li>
        <li>Use the various types of repetition structures</li>
        <li>Use arrays and arraylists to store character and numeric data</li>
        <li>Understand how to create and use functions</li>
        <li>Understand how sequential data files are opened, read to and from, deleted, and merged</li>
        <li>Understand the basic concepts of an object-oriented languages including inheritance, encapsulation, and polymorphism</li>
        <li>Comprehend and use wrapper classes</li>
        <li>Know proper use of exception handling</li>
        <li>Understand and use JavaFX to create GUI-based applications</li>
        <li>Utilize a relational database within a Java application</li>
    </ul>
    <p>&nbsp;</p>
</div>
<div id="other-resources">
    <h3>Other resources:</h3>
    <table style="margin-left: auto; margin-right: auto;" width="80%">
        <caption>external links</caption>
        <tbody>
            <tr>
                <th scope="row"><a class="icon-link" href="https://www.sfcollege.edu/drc/accommodations/index"> accommodations information <em>Santa Fe College, Disability Resource Center</em> </a></th>
                <td style="text-align: center;"><a class="icon-discussion btn btn-info" href="https://www.sfcollege.edu/drc/index"> DRC </a></td>
            </tr>
            <tr>
                <th scope="row"><a class="icon-link" href="https://www.sfcollege.edu/students/"> Student Resource Links, <em>Santa Fe College</em> </a></th>
                <td style="text-align: center;"><a class="icon-info btn btn-info" href="https://www.sfcollege.edu/students/"> SFC </a></td>
            </tr>
            <tr>
                <th scope="row"><a class="icon-link" href="https://courses.sfcollege.edu/courses/444382/modules" data-api-returntype="[Module]" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules"> Installing and configuring Java and Eclipse </a></th>
                <td style="text-align: center;"><a class="icon-folder btn btn-info" href="https://courses.sfcollege.edu/courses/444382/modules" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules" data-api-returntype="[Module]"> Module 0 </a></td>
            </tr>
            <tr>
                <th scope="row"><a class="icon-link" href="https://apps.sfcollege.edu/calendar/month.php" data-api-returntype="[Module]"> <em>Santa Fe College</em> Academic Calendar </a></th>
                <td style="text-align: center;"><a class="icon-calendar-month btn btn-info" href="https://apps.sfcollege.edu/calendar/month.php"> SFC Calendar </a></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>
<div id="get-started">
    <h3>Let's Get Started!</h3>
    <p>To find out what text book you'll need, grading, policies, expected class conduct and the course outline, please review the following class orientation materials:</p>
    <table style="margin-left: auto; margin-right: auto;" width="70%">
        <caption>course links</caption>
        <tbody>
            <tr>
                <th scope="row"><a class="icon-syllabus" href="https://courses.sfcollege.edu/courses/444382/assignments/syllabus"> Course Syllabus &amp; Outline </a></th>
                <td style="text-align: center;"><a class="icon-star-light btn btn-primary"> Syllabus</a></td>
            </tr>
            <tr>
                <th scope="row"><a class="icon-link" href="https://courses.sfcollege.edu/courses/444382/modules/1616425" data-api-returntype="Module" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616425"> ... Then head to Module 1 </a></th>
                <td style="text-align: center;"><a class="icon-module btn btn-success" href="https://courses.sfcollege.edu/courses/444382/modules/1616425" data-api-returntype="Module" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616425">Start Here</a></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>
<div id="reminders" class="alert alert-info">
    <p style="text-align: center; font-size: 18pt;">Be sure to check the announcements each time you access the course!</p>
</div>
<hr />
<div>
    <p>&nbsp;</p>
    <table style="border-collapse: collapse; border-width: 0; margin-left: auto; margin-right: auto; width: 90%;">
        <caption>module links</caption>
        <colgroup>
            <col style="width: 10%;" />
        </colgroup>
        <tbody>
            <tr>
                <th scope="col">week of:</th>
                <th scope="col"></th>
            </tr>
            <tr>
                <td>9-May</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616425" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616425" data-api-returntype="Module">Module 1 - Chapter 2: Java Fundamentals</a></td>
            </tr>
            <tr>
                <td>16-May</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616427" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616427" data-api-returntype="Module">Module 2 - Chapter 3: A First Look at Classes and Objects</a></td>
            </tr>
            <tr>
                <td>23-May</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616431" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616431" data-api-returntype="Module">Module 3 - Chapter 4: Decision Structures</a></td>
            </tr>
            <tr>
                <td>30-May</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616433" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616433" data-api-returntype="Module">Module 4 - Chapter 5: Loops and Files</a></td>
            </tr>
            <tr>
                <td>6-Jun</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616461" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616461" data-api-returntype="Module">Module 5 - Chapter 6: A Second Look at Classes</a></td>
            </tr>
            <tr>
                <td>13-Jun</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616463" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616463" data-api-returntype="Module">Module 6 - Chapter 7&amp;8: Arrays and the ArrayList Class and Text Processing and Wrapper Classes</a></td>
            </tr>
            <tr>
                <td>20-Jun</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616439" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616439" data-api-returntype="Module">Module 7 - Chapter 9: Inheritance</a></td>
            </tr>
            <tr>
                <td>27-Jun</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616443" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616443" data-api-returntype="Module">Module 8 - Chapter 10: Exceptions and Advanced File I/O</a></td>
            </tr>
            <tr>
                <td>5-Jul</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616467" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616467" data-api-returntype="Module">Module 9 - Chapter 11: JavaFX: GUI Programming and Basic Controls</a></td>
            </tr>
            <tr>
                <td>11-Jul</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616469" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616469" data-api-returntype="Module">Module 10 - Chapter 12: JavaFX: Advanced Controls with Graphics, Effects, and Media and Databases</a></td>
            </tr>
            <tr>
                <td>18-Jul</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616441" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616441" data-api-returntype="Module">Module 11 - Chapter 13: Recursion</a></td>
            </tr>
            <tr>
                <td>25-Jul</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616451" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616451" data-api-returntype="Module">Module 12 - Chapter 15: Databases</a></td>
            </tr>
            <tr>
                <td>1-Aug</td>
                <td><a href="https://courses.sfcollege.edu/courses/444382/modules/1616455" data-api-endpoint="https://courses.sfcollege.edu/api/v1/courses/444382/modules/1616455" data-api-returntype="Module">Module 13 - Wrap-up and Final Exams</a></td>
            </tr>
        </tbody>
    </table>
</div>
</div Welcome>