@model IEnumerable<Course>

@{
    ViewData["Title"] = "Course List";
}

<div class="text-center">
    <h1 class="display-4">Course Planner</h1>
</div>

<div class="container">
    <div class="row row-md-10" style="margin:auto;">
        <div class="col col-md-6"  style="margin:auto;">
            <div class="card" >
                <div class="card-header text-white" style="background-color: #00AA9E;">
                    <div class="card-title">Courses</div>
                </div>
                <div class="card-body">
                    <ul>
                        @foreach (var c in Model)
                        {
                            <li> 
                                @Html.ActionLink( @c.Name, "CourseDetail", "Course", @c ) 
                            </li>
                        }

                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
